<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIRequiredDeviceCapabilities</key>
	<dict>
		<key>armv7</key>
		<true/>
	</dict>
	<key>appleId</key>
	<string>41359833@qq.com</string>
	<key>artistId</key>
	<integer>1106783384</integer>
	<key>artistName</key>
	<string>Bikelock Technology CO., Ltd.</string>
	<key>bundleDisplayName</key>
	<string>ofo共享单车</string>
	<key>bundleShortVersionString</key>
	<string>1.80.14</string>
	<key>bundleVersion</key>
	<string>3759</string>
	<key>com.apple.iTunesStore.downloadInfo</key>
	<dict>
		<key>accountInfo</key>
		<dict>
			<key>AccountStoreFront</key>
			<string>143465-19,32</string>
			<key>AppleID</key>
			<string>41359833@qq.com</string>
			<key>DSPersonID</key>
			<integer>1382862456</integer>
			<key>DownloaderID</key>
			<integer>0</integer>
			<key>FamilyID</key>
			<integer>0</integer>
			<key>FirstName</key>
			<string>云波</string>
			<key>LastName</key>
			<string>张</string>
			<key>PurchaserID</key>
			<integer>1382862456</integer>
			<key>UserName</key>
			<string>张云波</string>
		</dict>
		<key>purchaseDate</key>
		<string>2016-11-21T04:56:17Z</string>
	</dict>
	<key>copyright</key>
	<string>© 2015 ofo Inc</string>
	<key>drmVersionNumber</key>
	<integer>0</integer>
	<key>fileExtension</key>
	<string>.app</string>
	<key>gameCenterEnabled</key>
	<false/>
	<key>gameCenterEverEnabled</key>
	<false/>
	<key>genre</key>
	<string>旅游</string>
	<key>genreId</key>
	<integer>6003</integer>
	<key>is-purchased-redownload</key>
	<true/>
	<key>itemId</key>
	<integer>1056015676</integer>
	<key>itemName</key>
	<string>ofo共享单车-超好骑的小黄车共享平台</string>
	<key>kind</key>
	<string>software</string>
	<key>playlistName</key>
	<string>Bikelock Technology CO., Ltd.</string>
	<key>product-type</key>
	<string>ios-app</string>
	<key>purchaseDate</key>
	<date>2016-11-21T04:56:17Z</date>
	<key>rating</key>
	<dict>
		<key>content</key>
		<string>Advisory.NO.UNRESTRICTED_WEB_ACCESS and Advisory.NO.GAMBLING_CONTESTS</string>
		<key>label</key>
		<string>4+</string>
		<key>rank</key>
		<integer>100</integer>
		<key>system</key>
		<string>itunes-games</string>
	</dict>
	<key>releaseDate</key>
	<string>2015-12-02T20:45:22Z</string>
	<key>s</key>
	<integer>143465</integer>
	<key>softwareIcon57x57URL</key>
	<string>http://a195.phobos.apple.com/us/r30/Purple111/v4/06/9b/e7/069be7f5-87d6-8717-caaa-69ebd64be88a/icon114x114.jpeg</string>
	<key>softwareIconNeedsShine</key>
	<false/>
	<key>softwareSupportedDeviceIds</key>
	<array>
		<integer>9</integer>
		<integer>2</integer>
		<integer>4</integer>
	</array>
	<key>softwareVersionBundleId</key>
	<string>com.ofo.Bicycle</string>
	<key>softwareVersionExternalIdentifier</key>
	<integer>821702355</integer>
	<key>softwareVersionExternalIdentifiers</key>
	<array>
		<integer>814271839</integer>
		<integer>814429308</integer>
		<integer>814616243</integer>
		<integer>814887828</integer>
		<integer>814967789</integer>
		<integer>816394471</integer>
		<integer>816524123</integer>
		<integer>816757813</integer>
		<integer>816940755</integer>
		<integer>817280990</integer>
		<integer>817779958</integer>
		<integer>818004416</integer>
		<integer>818446207</integer>
		<integer>818617291</integer>
		<integer>818950990</integer>
		<integer>819218265</integer>
		<integer>819479108</integer>
		<integer>819869499</integer>
		<integer>820052445</integer>
		<integer>820232399</integer>
		<integer>820290665</integer>
		<integer>820315465</integer>
		<integer>820485854</integer>
		<integer>820536522</integer>
		<integer>820665053</integer>
		<integer>820900292</integer>
		<integer>820998194</integer>
		<integer>821085132</integer>
		<integer>821274492</integer>
		<integer>821414355</integer>
		<integer>821489141</integer>
		<integer>821702355</integer>
	</array>
	<key>storeCohort</key>
	<string>5|date=1479702600000&amp;sf=143465&amp;pgtp=Search&amp;prpg=Search&amp;ctxt=Search</string>
	<key>userName</key>
	<string>张云波</string>
	<key>vendorId</key>
	<integer>118201535</integer>
	<key>versionRestrictions</key>
	<integer>16843008</integer>
</dict>
</plist>
