<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>armv7</string>
    </array>
    <key>DTCompiler</key>
    <string>com.apple.compilers.llvm.clang.1_0</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>DTPlatformVersion</key>
    <string>10.3</string>
    <key>DTSDKName</key>
    <string>iphoneos10.3</string>
    <key>CFBundleName</key>
    <string>Bplan_iOS</string>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <true/>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>ofo共享单车需要使用您的照片库，才能更好的完成您的用车体验！</string>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon20x20</string>
          <string>AppIcon29x29</string>
          <string>AppIcon40x40</string>
          <string>AppIcon60x60</string>
        </array>
      </dict>
    </dict>
    <key>UIStatusBarStyle</key>
    <string>UIStatusBarStyleDefault</string>
    <key>LSApplicationCategoryType</key>
    <string></string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>CFBundleDisplayName</key>
    <string>ofo共享单车</string>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>wechat</string>
      <string>mqzone</string>
      <string>mqqopensdkapiV2</string>
      <string>wtloginmqq2</string>
      <string>mqqapi</string>
      <string>mqqopensdkapiV3</string>
      <string>mqqwpa</string>
      <string>mqq</string>
      <string>wtloginmqq2</string>
      <string>mqqOpensdkSSoLogin</string>
      <string>weixin</string>
      <string>alipay</string>
      <string>alipayshare</string>
      <string>iosamap</string>
    </array>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>ofo共享单车需要使用您的位置来为您提供用车服务</string>
    <key>XGitBranch</key>
    <string>release</string>
    <key>XGitCommitSHA1</key>
    <string>47286ce3</string>
    <key>version</key>
    <string>1.8.9</string>
    <key>UIBackgroundModes</key>
    <array>
      <string>location</string>
      <string>remote-notification</string>
    </array>
    <key>DTSDKBuild</key>
    <string>14E269</string>
    <key>NSCameraUsageDescription</key>
    <string>ofo共享单车需要使用您的相机，才能更好的完成您的用车体验！</string>
    <key>CFBundleShortVersionString</key>
    <string>1.80.14</string>
    <key>CFBundleAllowMixedLocalizations</key>
    <true/>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>ofo共享单车需要您的位置，帮助您记录你的用车轨迹，若拒绝，后台将无法准确的获取您的行车轨迹。</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>BuildMachineOSBuild</key>
    <string>16E195</string>
    <key>DTPlatformBuild</key>
    <string>14E269</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>NSBluetoothPeripheralUsageDescription</key>
    <string>ofo共享单车需要使用您的蓝牙来完成您的用车服务</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>zh_CN</string>
    <key>DTXcodeBuild</key>
    <string>8E1000a</string>
    <key>CFBundleVersion</key>
    <string>3759</string>
    <key>CFBundleSupportedPlatforms</key>
    <array>
      <string>iPhoneOS</string>
    </array>
    <key>UIStatusBarHidden</key>
    <true/>
    <key>MinimumOSVersion</key>
    <string>8.0</string>
    <key>UILaunchImages</key>
    <array>
      <dict>
        <key>UILaunchImageSize</key>
        <string>{414, 736}</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-800-Portrait-736h</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>8.0</string>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
      </dict>
      <dict>
        <key>UILaunchImageSize</key>
        <string>{375, 667}</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-800-667h</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>8.0</string>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
      </dict>
      <dict>
        <key>UILaunchImageSize</key>
        <string>{320, 480}</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-700</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>7.0</string>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
      </dict>
      <dict>
        <key>UILaunchImageSize</key>
        <string>{320, 568}</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-700-568h</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>7.0</string>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
      </dict>
    </array>
    <key>UIDeviceFamily</key>
    <array>
      <integer>1</integer>
    </array>
    <key>CFBundleIdentifier</key>
    <string>com.ofo.Bicycle</string>
    <key>DTXcode</key>
    <string>0831</string>
    <key>UIApplicationShortcutItems</key>
    <array>
      <dict>
        <key>UIApplicationShortcutItemIconType</key>
        <string>UIApplicationShortcutIconTypeLove</string>
        <key>UIApplicationShortcutItemType</key>
        <string>io.userinfo.ofo</string>
        <key>UIApplicationShortcutItemTitle</key>
        <string>查看用户信息</string>
        <key>UIApplicationShortcutItemSubtitle</key>
        <string>用户信息</string>
      </dict>
    </array>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
    </dict>
    <key>CFBundleExecutable</key>
    <string>Bplan_iOS</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>DTPlatformName</key>
    <string>iphoneos</string>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>weixin</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>wx2c4f36ce30b07313</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>com.ofo.shareBike</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>ofoShareBicycleForIOSApp</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>QQ41df066b</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>tencent1105135211</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>ofoalipay</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>prefs</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>ofoapp</string>
        </array>
      </dict>
    </array>
  </dict>
</plist>
